.burger {
    display: none;

    @include breakpoint($tablet) {
    display: block;
    width: 2rem;
    height: 1.2rem;

    padding: 0;
    margin: 0 1rem 0 0;

    background: transparent;
    border: none;
    outline: none;

    position: relative;

    & span {
        display: block;
        width: 100%;
        max-width: 2rem;
        height: 2.4px;

        background: $black;

        margin-top: 0;



    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        max-width: 2rem;
        height: 2.5px;

        background: $black;

        position: absolute;
        bottom: 0;

    }

    &::before {
        content: "";
        display: block;
        width: 100%;
        max-width: 2rem;
        height: 2.5px;

        background: $black;

        position: absolute;
        top: 0;

    }

    &.active {

        & span {
            opacity: 0;
        }

        &::before {
            opacity: 1;
            top: 50%;
            transform: rotate(-45deg);
        }

        &::after {
            opacity: 1;
            bottom: 37%;
            transform: rotate(45deg);
        }
    }
    }


}